{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "importOrder": ["^@/(.*)$", "react", "react-hook-form", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
